ion-toolbar {
    --background: #f2f2f2;
    ion-title {
        text-align: center;
        color: black;
    }
}

:host {
    ion-buttons {
        ion-button {
            --color: black;
        }
    }
}

// ion-card {
//     height: 50% !important;
// }
ion-content {
    --background: #f2f2f2;
}